/.conda
/Dockerfile
/tests
data/chroma_db/chroma.sqlite3
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/config.cpython-310.pyc
app/__pycache__/config.cpython-311.pyc
app/__pycache__/constants.cpython-310.pyc
app/__pycache__/constants.cpython-311.pyc
app/__pycache__/extraction.cpython-310.pyc
app/__pycache__/extraction.cpython-311.pyc
app/__pycache__/feedback.cpython-310.pyc
app/__pycache__/feedback.cpython-311.pyc
app/__pycache__/files.cpython-310.pyc
app/__pycache__/files.cpython-311.pyc
app/__pycache__/indexing.cpython-310.pyc
app/__pycache__/indexing.cpython-311.pyc
app/__pycache__/logger.cpython-310.pyc
app/__pycache__/logger.cpython-311.pyc
app/__pycache__/parallel_processing.cpython-311.pyc
app/__pycache__/processing_status.cpython-311.pyc
app/__pycache__/profiling.cpython-311.pyc
app/__pycache__/query.cpython-310.pyc
app/__pycache__/query.cpython-311.pyc
app/__pycache__/session_uploads.cpython-311.pyc
app/__pycache__/sessions.cpython-311.pyc
app/__pycache__/state.cpython-310.pyc
app/__pycache__/state.cpython-311.pyc
app/__pycache__/ui.cpython-310.pyc
app/__pycache__/ui.cpython-311.pyc
data/cache/gemini_extract_cache.jsonl
data/cache/gemini_extract_cache.jsonl
data/chroma_db/3608471d-36ac-4fa1-a168-ec8d367061ab/length.bin
data/chroma_db/3608471d-36ac-4fa1-a168-ec8d367061ab/data_level0.bin
data/chroma_db/chroma.sqlite3
data/cache/sync_cache.json
data/cache/nodes_cache.pkl
data/cache/nodes_cache_info.json
data/cache/gemini_extract_cache.jsonl
