#Core app
pip==24
streamlit
markdown

#LLM and embedding libraries
google-genai
llama-index-core
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
chromadb
rank-bm25
cohere

#Document processing libraries
python-docx
openpyxl
xlrd
pandas
spire.doc
aspose-words

#PDF processing libraries
pymupdf
PyPDF2
pymupdf-layout
pymupdf4llm

